<h4>Search for jamz</h4>
<div class="form">
    <form name="songForm" ng-submit="searchForSongs(search)">
        <!-- GENERAL SEARCH FIELD-->
        <div class="form-group">
            <input type="text" name="search" ng-model="search">
            <button type="submit" class="btn btn-primary" ng-disabled="songForm.$invalid">Search</button>
        </div>
    </form>
    <br>
    <div>
        <h4>Search Results:</h4>
        <table class="table table-striped table-hover">
            <tr>
                <th>Song Title</th>
                <th>Artist</th>
                <th>Select</th>
            </tr>
            <tr ng-repeat="song in searchResults()">
                <td>{{song.name}}</td>
                <td>{{song.artists[0].name}}</td>
                <td>
                    <button class="add-button inline-button" ng-click="addSong(song)"><span class="glyphicon glyphicon-plus"></span>Add Song</button>
                </td>
            </tr>
        </table>
    </div>
</div>
<div ng-show="getWaveState()">
    <div ng-repeat="wave in waves() track by $index" id="wave{{$index}}" ng-show="showContainers[$index]">
        <button class="btn btn-success" ng-click="playPause($index)" ng-show="!isPlaying[$index]"><span class="glyphicon glyphicon-play"></span></button>
        <button class="btn btn-warning" ng-click="playPause($index)" ng-show="isPlaying[$index]"><span class="glyphicon glyphicon-pause"></span></button>
        <button class="btn btn-default" ng-click="zoom($index)" ng-show="!isZoomed">Zoom In</button>
        <button class="btn btn-default" ng-click="zoom($index)" ng-show="isZoomed">Zoom Out</button>
        <div class="btn-group btn-group-sm">
            <button ng-repeat="filter in filters" class="btn btn-primary btn-sml" ng-click="setFilter($parent.$index, filter)">{{filter}}</button>
        </div>
        <br>
        <br>
        <div id="wave-timeline{{$index}}"></div>
    </div>
    <br>
</div>
